body {
  background-color: white;
}

h1 {
  text-align: center;
}

.header {
  background-color: gray;
  padding: 25px, 25px, 25px, 25px;
}

.header div {
  text-align: center;
  justify-content: space-between;
}